	/*Configuración html */

html,body,ol,ul,li,a,*{
margin:0 auto;
padding:0;
border:0;
box-sizing:content-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

	/*Fin Configuración html */

@font-face{
font-family:"Almendra";
src:url("Almendra-Regular.ttf");
}

@font-face{
font-family:"CinzelDecorative-Regular";
src:url("CinzelDecorative-Regular.ttf");
}

@font-face{
font-family:"Nosifer";
src:url("Nosifer-Regular.ttf");
}

@font-face{
font-family:"MetalMania";
src:url("MetalMania.ttf");
}

@font-face{
font-family:"Montserrat";
src:url("Montserrat-Regular.ttf");
}


/* Fin de configuración de HTML*/

/* barra de navegación*/

.lista-menu{
list-style:none;
display:flex;
justify-content:center;
margin:2em 0 2em 0;
}

/* Botones*/

.boton{
border-radius:11px;
text-decoration:none;
box-shadow:1px 1px 0px silver;
color:snow;
background:hsla(300, 80%, 40%, 90%);
letter-spacing:2px;
padding:5px;
margin:0 0 0 0;
cursor:pointer;
font:1em tahoma;
}

@media(max-width:300px){
.boton{
padding:4px;
}
}

@media(max-width:350px){
.boton{
font:.8em tahoma;
}
}

.boton:hover{
background:hsla(300, 80%, 40%, 70%);
color:yellow;
box-shadow:0px 0px 0px snow;
}

/*Fin Botones*/

/* barra de navegación*/


/* Configuración Estructura*/

.contenedor{
display:flex;
flex-direction:column;
margin-top:3em;
margin-left:3%;
margin-right:3%;
margin-bottom:0;
justify-content:center;
align-items:center;
}

.contenido{
padding:1em;
border-radius: 16px;
box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
margin:0;
}

.contenido ul{
padding-left:3em;
}

.contenido ul > li{
padding-bottom:1em;
font:1em Montserrat;
}

.slideshow {
    position: relative;
    width: 100%;
    height:100vh;
    display:flex; 
    overflow:hidden;
    justify-content:center;
    align-items:center;	
    object-fit:cover;
}

@media(max-width:810px){
.slideshow {
height:70vh;
}
}

@media(max-width:800px){
.slideshow {
height:61vh;
}
}

@media(max-width:450px){
.slideshow {
height:35vh;
}
}

.slideshow img {
    max-width: 100%;
    max-height:100%;   
    position: absolute;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    border-radius:5em;	
  }

.slideshow img.active {
    opacity: 1;
    transition: opacity 4s ease-in-out;
}

.audioContenedor{
text-align:center;
margin: 0;
padding:0;
}

.audio-contenido{
margin: 2em 0 0 0;
padding:0;
}

.contenedor-creditos{
background-color:silver;
}

.contenedor-contacto{
display:flex;
justify-content:center;
margin:1em 0 1em 0;
padding:0;
}

.contacto{
//background-image:linear-gradient(#126BF0, #000);
background-image:linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
margin:0;
padding:0;
border:.1em solid silver;
border-radius:1.5em;
box-shadow:2px 1px 8px 1px rgba(32,32,32,0.7);
animation-name:fondo;
animation-duration:1s;
animation-direction:alternate;
animation-iteration-count:infinite;
}

@keyframes fondo{
from{
background-image:linear-gradient(#000, #126BF0);
}
to{
background-image:linear-gradient(#126BF0, #000);
}
}

/* Fin configuración Estructura */

/* Configuración Listas*/


/* Fin Configuración Listas*/

/*Configuración Audio*/

audio{
margin:0 auto;
padding:0;
display:inline-block;
}

/* Fin Configuración Audio*/


/* Configuración Titulos */

.titulo-principal{
background:#000;
background-image:url("your-image-url.jpg");
background-repeat:no-repeat;
background-position:center;
background-size:7em;
text-align: center;
color:#F7E7CE;
font-size: 2em;
font-family:"CinzelDecorative-Regular";
text-shadow:
0 1px 0 #ccc,
0 2px 0 #c9c9c9,
0 3px 0 #bbb,
0 4px 0 #b9b9b9,
0 5px 0 #aaa,
0 6px 1px rgba(0,0,0,.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.15);
margin:0;
padding:1em;
}

.titulo-contacto{
text-align:center;
color:#FFFF00;
text-shadow:0px -3px 7px yellow,
0px -2px 2px #111,
1px 0px 3px gold,
-2px 0px 0px #FFFF00,
1px -1px 7px pink,
0px 1px 3px lightyellow,
1px -3px 0px #FFFF00;
margin:0;
padding:0;
}

.nombre-curso{
color:#D3B25B;
font:1.5em "CinzelDecorative-Regular";
text-align:center;
font-weight:bold;
text-transform:uppercase;
margin:0;
padding:0;
}

.nombre-curso-dos{
color:#D3B25B;
font-weight:bold;
}

.titulo-creditos{
color:black;
font:2em;
font-weight:bold;
text-shadow: black 1px 0px 2px;
margin:0;
padding:0;
text-transform:uppercase;
}

.titulo-creditos-principal{
text-align:center;
}

.subtitulos{
color:#126BF0;
font:1.2em "Almendra";
font-weight:bold;
margin:0;
padding:0;
}

.sub-subtitulos{
font:1.1em;
font-weight:bold;
font-style:italic;
margin:0;
padding:0 0 1em 0;
}

/* Fin configuración Titulos  */

/* Configuración Parrafos */

.parrafo-audios{
font-size:.9em;
margin: 0;
padding:0;
}

.parrafo-contacto{
margin:0;
padding:.2em;
color:lightgreen;
font-size: 1.2em;
font-weight:bold;
text-align:center;
text-shadow:
1px 1px 0px lightgreen,
-1px 0px 1px #32de38,
1px 0px 0px green,
0px 1px 0px lightgreen;
text-justify:inter-character;
letter-spacing:1px;
}

.contenedor-contacto .parrafo-contacto a{
color:snow;
text-decoration:underline snow;
}

.contacto .parrafo-contacto:nth-of-type(2) a{
text-decoration:none;
}

.parrafo-sangrado{
font:1em Montserrat;
text-indent:3em;
text-align:justify;
text-justify:inter-character;
line-height:1.5;
margin:0;
padding:0;
}

.parrafo-centrado{
font-size:1em Montserrat;
font-weight:bold;
text-align:center;
text-justify:inter-character;
line-height:1.5;
margin:0;
padding:0;
}

.leyendas{
color:#32de38;
}

.nombres-cripto{
font-size:1em Montserrat;
text-align:center;
font-weight:bold;
margin:1em 0 1em 0;
padding:0;
}

.parrafo-normal{
font:1em Montserrat;
text-align:center;
margin:0;
padding:0;
}

.parrafo-creditos{
font-size:1em;
}

.parrafo-avisos{
font-size:1em;
padding-left:1em;
padding-right:1em;
}

.anuncio{
color:red;
text-align:center;
letter-spacing:.1em;
font-weight:bold;
text-shadow: 
1px 1px 0px darkred,
-1px 0px 1px crimson,
0px -1px 0px crimson,
1px 0px 1px darkred,
1px 1px 0px red,
0px 1px 0px crimson,
1px 0px 0px red,
1px 1px 0px darkred,
0px -1px 0px darkred,
1px 0px 1px red,
-1px 0px 1px darkred,
0px -1px 0px red,
0px 0px 1px red;
padding:0;
margin:1em 0 0 0;
}

.parrafo-psico{
  padding:0;
  margin:0;
  font-weight:bold;
  font-size:1em;  
  color:hsla(0, 0%, 0%, 1);
  letter-spacing: 5px;
  text-align: center;
  text-transform:uppercase;
  animation: psico linear 1000ms infinite;  
}

@keyframes psico {
  0% {
    text-shadow:
      4px -4px 0 hsla(61, 100%, 50%, 1), 
      3px -3px 0 hsla(61, 100%, 50%, 1), 
      2px -2px 0 hsla(61, 100%, 50%, 1), 
      1px -1px 0 hsla(61, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(61, 100%, 50%, 1), 
      3px 3px 0 hsla(61, 100%, 50%, 1), 
      2px 2px 0 hsla(61, 100%, 50%, 1), 
      1px 1px 0 hsla(61, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(61, 100%, 50%, 1), 
      -3px 3px 0 hsla(61, 100%, 50%, 1), 
      -2px 2px 0 hsla(61, 100%, 50%, 1), 
      -1px 1px 0 hsla(61, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(61, 100%, 50%, 1), 
      -3px -3px 0 hsla(61, 100%, 50%, 1), 
      -2px -2px 0 hsla(61, 100%, 50%, 1), 
      -1px -1px 0 hsla(61, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(61, 100%, 50%, 1), 
      3px -3px 0 hsla(61, 100%, 50%, 1), 
      2px -2px 0 hsla(61, 100%, 50%, 1), 
      1px -1px 0 hsla(61, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }  
}

  .parrafo-psico-contacto{
  padding:0;
  margin:1em 0 0 0;
  font-family:"MetalMania"; 
  font-weight:bold;
  font-size: 1em;  
  color: hsla(0, 0%, 0%, 1);
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  animation: move linear 1000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }  
}

/* Fin configuración Parrafos */

/*Estilos span*/
.PalabrasTemasCurso{
font-weight:bold;
}

.bitcoin{
color:orange;
}

.eth{
color:#8f9ad3;
}

.xrp{
color:#444;
}
.estables{
color:steelblue;
}

.motivos{
font-family:Nosifer;
}
.tool-tips{
cursor:pointer;
}

.tool-tips-muestra{
display:none;
color:snow;
position:relative;
padding:1em;
margin:1%;
background-image:linear-gradient(hsla(50, 10%, 10%, 50%),hsla(20, 50%, 10%, 100%));
font:.8em "times new roman";
border:2px solid gray;
box-shadow:1px -1px 2px silver;
opacy:.5;
}

.tool-tips:hover .tool-tips-muestra{
display:grid;
}

.tool-tips-cripto{
cursor:pointer;
}

.tool-tips-cripto-muestra{
display:none;
color:snow;
position:relative;
padding:1em;
margin:1%;
background-image:linear-gradient(hsla(120, 50%, 30%, 50%),hsla(160, 50%, 20%, 100%));
font:1em "times new roman";
font-style:italic;
border:2px groove lightgreen;
box-shadow:3px 2px 0 black;
opacy:.5;
}

.tool-tips-cripto:hover .tool-tips-cripto-muestra{
display:grid;
}


/*Fin Estilos span*/



/* Estilos del pie de página */
footer {
    text-align: center;
    padding:1em;
}

footer a {
    text-decoration: none;
    font-weight:bold;
    color:#999;
}