.EstTitulo{
border-width: 0px;
border-color: teal;
border-style: solid;
}
.EstUno{
float: left;
border: 0em; 
width: 33%;
height: auto;
margin:0em;
}
.EstCentrar{
float: left;
border: 0em; 
width: 33%;
height: auto;
margin:0em;
justify-content: center;
align-items: center;
}

.EstDos{
float: right;
border: 0em; 
width: 33%;
height: auto;
margin:0em;
justify-content: center;
align-items: center;
}

.Estfin{
border-width: 0px;
border-color: gold;
border-style: solid;
background-color: teal;
}