/* Configuración de HTML */
*,*::before, *::after {
box-sizing: inherit;
}

html {
background: linear-gradient(#14F195, #9945FF);
box-sizing: border-box; 
animation-name:fondo;
animation-duration:3s;
animation-direction:alternate;
animation-iteration-count:infinite;
}

@keyframes fondo{
from{
background:linear-gradient(#14F195, #9945FF);
}
to{
background:linear-gradient(#9945FF, #14F195);
}
}

body{
background: linear-gradient(#9945FF, #14F195);
box-shadow:-1px 0px 11px snow;
}

@media(max-width:450px){
nav li{
margin:0;
font-size:.75em;
}
}
/* Fin de configuración de HTML*/

/* Configuración Frames*/


/* Fin de Configuración Frames*/

/* barra de navegación*/

nav {
    background-color: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* Configuración Estructura*/
.EstTitulo{
border-width: 0px;
border-color: teal;
border-style: solid;
}
.EstUno{
float: left;
border: 0em; 
width: 33%;
height: auto;
margin:0em;
}
.EstCentrar{
float: left;
border: 0em; 
width: 33%;
height: auto;
margin:0em;
justify-content: center;
align-items: center;
}

.EstDos{
float: right;
border: 0em; 
width: 33%;
height: auto;
margin:0em;
justify-content: center;
align-items: center;
}

.patrones{
background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
color:white;
margin:1em;
padding:1em;
}

.slideshow {
    position: relative;
    width: 100%;
    height:100vh;
    display:flex; 
    overflow:hidden;
    justify-content:center;
    object-fit:cover;
}

@media(max-width:450px){
.slideshow {
height:35vh;
}
}

.slideshow img {
    max-width: 100%;
    max-height:100%;   
    position: absolute;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

.slideshow img.active {
    opacity: 1;
    transition: opacity 5s ease-in-out;
}

.temas{
margin-top:3%;
margin-left:3%;
margin-right:3%;
}

.container {
max-width: 800px;
margin: 0px auto;
padding: 20px;
/*background-color:transparent;*/
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Estfin{
border-width: 0px;
border-color: gold;
border-style: solid;
background-color: teal;
}

.MarcoContactoContenedor{
display:flex;
justify-content:center;
}

.MarcoContacto{
background:linear-gradient(#8f9ad3, beige, #8f9ad3);
border:.1em solid silver;
border-radius:1.5em;
box-shadow:2px 1px 8px 1px rgba(32,32,32,0.7);
}

/* Fin configuración Estructura */

/* Configuración Listas*/

ul {
    list-style:disc;
    padding: 10px;
    margin: 10px;
    }
li {
    margin: 10px;
}

/* Fin Configuración Listas*/

/* Configuración Titulos */

.TituloPrincipal{
text-align: center;
color: #F7E7CE;
font-size: 2em;
font-weight: bold;
font-family:"Times New Roman";
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.TituloSecundario{
text-align: center;
color:#FFFF00;
text-shadow:7px 3px 7px black,
3px 2px 2px gold,
0px 1px 9px yellow,
-3px 0px 10px green,
3px -1px 7px gold,
0px 2px 7px teal,
-7px 3px 7px gray;
}
.TituloPaginasSecundarias{
color:yellow;
font:1.5em "times new roman";
text-align:center;
font-weight:bold;
}
.SubtitulosPaginasSecundarias{
font:1.2em "times new roman";
font-weight:bold;
}
.SubSubtitulos{
font:1 "times new roman";
font-weight:normal;
font-style:italic;
}
/* Fin configuración Titulos  */

/* Configuración Parrafos */

.ParrafoNormal{
font-family: "times new roman";
color: white;
font-size: 1.3em;
text-align: center;
}

.ParrafoContacto{
font-family: "times new roman";
color:lightgreen;
font-size: 1.3em;
font-weight:bold;
text-align: center;
text-shadow:-1px 1px 1px teal,
0px 2px 2px #9945FF,
1px 0px 7px gray,
-2px 1px 1px black;
}

.MarcoContacto .ParrafoContacto a{
color:snow;
text-decoration:underline snow;
}

.MarcoContacto .ParrafoContacto:nth-of-type(2) a{
text-decoration:none;
}


.ParrafoNormalEsquemaCurso{
font-family: "times new roman";
color: black;
font-size:1em;
text-indent:3em;
text-justify: inter-word;
line-height:1.5em;
margin-bottom:.3em;
}

.ParrafoSangria{
padding-left:1em;
padding-right:1em;
font-size:.5em;
font-family:"times new roman";
color:black;
text-align: justify;
text-indent: 3em;
}
.ParrafoCentrado{
font-family:"times new roman";
color: White;
font-size: 1.1em;
text-align:center;
text-shadow: 2px -3px 10px black;
}

.ParrafoCentradoNombres{
background-color:black;
font-family: "times new roman";
font-size: 1.1em;
text-align:center;
}

.ParrafoCreditos{
font-family:"times new roman";
color:black;
font-size:.5em;
}

.ParrafoAviso{
font-family:"times new roman";
color:black;
font-size:1.2em;
padding-left:1em;
padding-right:1em;
}

.anuncio{
font:1.4 "times new roman";
font-weight:bold;
color:red;
text-align:center;
text-shadow: 2px -3px 10px yellow;
}

.ParrafoFinal{
font-family: "times new roman";
color: #FFFF00;
font-size: 1.5em; 
text-align: center;
text-transform: uppercase;
}

  .ParrafoFinalPsico{
  padding-top:1em;
  margin:0;
  font-family: "times new roman"; 
  font-size: 1em;  
  color: hsla(0, 0%, 0%, .9);
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }  
}
/* Fin configuración Parrafos */

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: .7em;
    background-color:trasparent; 
}

footer a {
    text-decoration: none;
    font-weight:bold;
}